.DS_Store
Coursework/Homework 2/data/cifar-10-batches-py/data_batch_1
Coursework/Homework 2/.ipynb_checkpoints/softmax_cifar10_2025-checkpoint.ipynb
Coursework/Homework 2/data/cifar-10-batches-py/data_batch_2
Coursework/Homework 2/data/cifar-10-batches-py
Coursework/Homework 2/data
Coursework/Demos/.ipynb_checkpoints
Coursework/Homework 2/desktop.ini
Coursework/Homework 2/.Rhistory
Coursework/Homework 1/images/end_to_end_project/california.png
Coursework/Homework 1/l2_model.pth
Coursework/Homework 1/simple_model.pth
Coursework/Homework 2/.ipynb_checkpoints
Coursework/Project/.ipynb_checkpoints
Coursework/Project/kaggle_evaluation/__pycache__
Coursework/Project/kaggle_evaluation/core/__pycache__
Coursework/Homework 3/.ipynb_checkpoints
Coursework/Homework 4/comp540/.ipynb_checkpoints
Coursework/Homework 4/comp540/datasets
Coursework/Homework 4/.ipynb_checkpoints
Coursework/Homework 4/comp540/__pycache__
Coursework/Homework 4/comp540/classifiers/__pycache__
Coursework/Homework 4/data
Coursework/Homework 4/zipped_hw4.zip
Coursework/Homework 5/self_supervised.zip
.Rhistory
