.DS_Store
Homework 2/data/cifar-10-batches-py/data_batch_1
Homework 2/.ipynb_checkpoints/softmax_cifar10_2025-checkpoint.ipynb
Homework 2/data/cifar-10-batches-py/data_batch_2
/Homework 2/data/cifar-10-batches-py
/Homework 2/data
/Demos/.ipynb_checkpoints
