.DS_Store
Homework 2/data/cifar-10-batches-py/data_batch_1
Homework 2/.ipynb_checkpoints/softmax_cifar10_2025-checkpoint.ipynb
Homework 2/data/cifar-10-batches-py/data_batch_2
/Homework 2/data/cifar-10-batches-py
/Homework 2/data
/Demos/.ipynb_checkpoints
Homework 2/desktop.ini
Homework 2/.Rhistory
Homework 1/images/end_to_end_project/california.png
Homework 1/l2_model.pth
Homework 1/simple_model.pth
/Homework 2/.ipynb_checkpoints
/Project/.ipynb_checkpoints
/Project/kaggle_evaluation/__pycache__
/Project/kaggle_evaluation/core/__pycache__
/Homework 3/.ipynb_checkpoints
/Homework 4/comp540/.ipynb_checkpoints
/Homework 4/comp540/datasets
/Homework 4/.ipynb_checkpoints
/Homework 4/comp540/__pycache__
/Homework 4/comp540/classifiers/__pycache__
/Homework 4/data
Homework 4/zipped_hw4.zip
